USE [master]
GO
/****** Object:  Database [OrganicBaskets]    Script Date: 4/14/2025 7:57:48 PM ******/
CREATE DATABASE [OrganicBaskets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrganicBaskets_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OrganicBaskets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OrganicBaskets_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OrganicBaskets.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrganicBaskets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrganicBaskets]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](100) NOT NULL,
	[PostalCode] [nvarchar](20) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[LocationType] [nvarchar](50) NOT NULL,
	[UserNameOrVendorName] [varchar](50) NULL,
	[UserType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alarms]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarms](
	[AlarmID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DietID] [int] NOT NULL,
	[AlarmTime] [time](7) NOT NULL,
	[AlarmDays] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AlarmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime] NULL,
	[UserName] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DietPlans]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DietPlans](
	[DietID] [int] IDENTITY(1,1) NOT NULL,
	[DietName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RecommendedProducts] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthDataToTrain]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthDataToTrain](
	[DataID] [int] IDENTITY(1,1) NOT NULL,
	[Age] [int] NULL,
	[Gender] [varchar](10) NULL,
	[Weight_kg] [decimal](5, 2) NULL,
	[Height_cm] [int] NULL,
	[BMI] [decimal](5, 2) NULL,
	[Disease_Type] [varchar](50) NULL,
	[Severity] [varchar](50) NULL,
	[Physical_Activity_Level] [varchar](50) NULL,
	[Daily_Caloric_Intake] [int] NULL,
	[Cholesterol_mg_dL] [int] NULL,
	[Blood_Pressure_mmHg] [varchar](20) NULL,
	[Glucose_mg_dL] [int] NULL,
	[Dietary_Restrictions] [varchar](50) NULL,
	[Allergies] [varchar](50) NULL,
	[Preferred_Cuisine] [varchar](100) NULL,
	[Weekly_Exercise_Hours] [decimal](4, 2) NULL,
	[Adherence_to_Diet_Plan] [decimal](5, 2) NULL,
	[Dietary_Nutrient_Imbalance_Score] [decimal](5, 2) NULL,
	[Diet_Recommendation] [varchar](50) NULL,
 CONSTRAINT [PK_DataID] PRIMARY KEY CLUSTERED 
(
	[DataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthInfo]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthInfo](
	[HealthDataID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Age] [int] NULL,
	[Gender] [varchar](10) NULL,
	[Weight_kg] [decimal](5, 2) NULL,
	[Height_cm] [int] NULL,
	[BMI] [decimal](5, 2) NULL,
	[Disease_Type] [varchar](50) NULL,
	[Severity] [varchar](50) NULL,
	[Physical_Activity_Level] [varchar](50) NULL,
	[Daily_Caloric_Intake] [int] NULL,
	[Cholesterol_mg_dL] [int] NULL,
	[Blood_Pressure_mmHg] [varchar](20) NULL,
	[Glucose_mg_dL] [int] NULL,
	[Dietary_Restrictions] [varchar](50) NULL,
	[Allergies] [varchar](50) NULL,
	[Preferred_Cuisine] [varchar](100) NULL,
	[Weekly_Exercise_Hours] [decimal](4, 2) NULL,
	[Adherence_to_Diet_Plan] [decimal](5, 2) NULL,
	[Dietary_Nutrient_Imbalance_Score] [decimal](5, 2) NULL,
	[Diet_Recommendation] [varchar](50) NULL,
	[HaveNutAllergy?] [varchar](10) NULL,
	[AnyDeficiency?] [varchar](1500) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_HealthDataID] PRIMARY KEY CLUSTERED 
(
	[HealthDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketBasketAnalysis]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketBasketAnalysis](
	[RuleID] [int] IDENTITY(1,1) NOT NULL,
	[AntecedentProducts] [nvarchar](max) NULL,
	[ConsequentProducts] [nvarchar](max) NULL,
	[Confidence] [decimal](5, 2) NULL,
	[Support] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[UserName] [varchar](25) NULL,
	[OrderededAt] [datetime] NULL,
	[CartID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predictions]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predictions](
	[PredictionID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[PredictedDiet] [nvarchar](255) NULL,
	[Rank] [int] NULL,
	[PredictionPercentage] [decimal](5, 2) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PredictionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDiet]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDiet](
	[ProductName] [varchar](255) NOT NULL,
	[PartOfDiet] [varchar](255) NOT NULL,
	[ProductDietID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductDietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[VendorID] [int] NULL,
	[ProductImage] [nvarchar](500) NULL,
	[Packaging_Unit] [nvarchar](50) NULL,
	[PartOfDiet] [varchar](255) NULL,
	[RichInHealthBenefits] [varchar](1500) NULL,
	[IsVegan?] [varchar](10) NULL,
	[IsGlutenFree?] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTickets]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[IssueDescription] [nvarchar](max) NOT NULL,
	[TicketStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[CreatedAt] [datetime] NULL,
	[UserName] [varchar](50) NULL,
	[UserType] [varchar](25) NULL,
	[IsVendor] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 4/14/2025 7:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[ContactPerson] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressID], [AddressLine1], [AddressLine2], [City], [State], [PostalCode], [Country], [CreatedAt], [LocationType], [UserNameOrVendorName], [UserType]) VALUES (5, N'University Village Apartments-1500, west plum street', N'8J', N'Fort Collins', N'CO', N'80521', N'United States', CAST(N'2024-12-21T23:54:16.877' AS DateTime), N'Home', N'Vishwa', N'Vendor')
INSERT [dbo].[Address] ([AddressID], [AddressLine1], [AddressLine2], [City], [State], [PostalCode], [Country], [CreatedAt], [LocationType], [UserNameOrVendorName], [UserType]) VALUES (6, N'University Village Apartments-1500, west plum street', N'8J', N'Fort Collins', N'CO', N'80521', N'United States', CAST(N'2024-12-21T23:58:50.347' AS DateTime), N'Home', N'Vish', N'Customer')
INSERT [dbo].[Address] ([AddressID], [AddressLine1], [AddressLine2], [City], [State], [PostalCode], [Country], [CreatedAt], [LocationType], [UserNameOrVendorName], [UserType]) VALUES (7, N'University Village Apartments-1500, west plum street', N'8J', N'Fort Collins', N'CO', N'80521', N'United States', CAST(N'2024-12-22T00:02:58.317' AS DateTime), N'Office', N'Vishwan', NULL)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [ProductID], [Quantity], [AddedAt], [UserName]) VALUES (10, 2017, 2, CAST(N'2025-04-12T23:38:43.177' AS DateTime), N'Vishwa3')
INSERT [dbo].[Cart] ([CartID], [ProductID], [Quantity], [AddedAt], [UserName]) VALUES (11, 3008, 1, CAST(N'2025-04-12T23:38:45.057' AS DateTime), N'Vishwa3')
INSERT [dbo].[Cart] ([CartID], [ProductID], [Quantity], [AddedAt], [UserName]) VALUES (12, 2016, 2, CAST(N'2025-04-12T23:38:48.643' AS DateTime), N'Vishwa3')
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthDataToTrain] ON 

GO
SET IDENTITY_INSERT [dbo].[HealthDataToTrain] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthInfo] ON 

SET IDENTITY_INSERT [dbo].[HealthInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (1, 1, 1006, 7, CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (2, 1, 1009, 2, CAST(2.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (3, 1, 7, 4, CAST(3.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalAmount], [OrderStatus], [UserName], [OrderededAt], [CartID]) VALUES (1, CAST(N'2024-12-27T16:16:58.117' AS DateTime), CAST(61.50 AS Decimal(10, 2)), N'Pending', N'Vishwa', CAST(N'2024-12-27T16:16:58.127' AS DateTime), 0)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalAmount], [OrderStatus], [UserName], [OrderededAt], [CartID]) VALUES (2, CAST(N'2024-12-27T16:22:14.987' AS DateTime), CAST(39.00 AS Decimal(10, 2)), N'Pending', N'Vishwam', CAST(N'2024-12-27T16:22:14.987' AS DateTime), 0)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalAmount], [OrderStatus], [UserName], [OrderededAt], [CartID]) VALUES (3, CAST(N'2024-12-27T20:31:02.757' AS DateTime), CAST(34.00 AS Decimal(10, 2)), N'Pending', N'Vishwa', CAST(N'2024-12-27T20:31:02.757' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDiet] ON 

INSERT [dbo].[ProductDiet] ([ProductName], [PartOfDiet], [ProductDietID]) VALUES (N'Apples', N'DASH Diet', 1)
INSERT [dbo].[ProductDiet] ([ProductName], [PartOfDiet], [ProductDietID]) VALUES (N'Apples', N'Mediterranean Diet', 2)
SET IDENTITY_INSERT [dbo].[ProductDiet] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Category], [ProductName], [Description], [Price], [Stock], [VendorID], [ProductImage], [Packaging_Unit], [PartOfDiet], [RichInHealthBenefits], [IsVegan?], [IsGlutenFree?]) VALUES (2015, N'Dairy', N'Hard cheese', N'A firm, aged cheese with a rich, nutty flavor, perfect for grating or enjoying on its own.', CAST(10.50 AS Decimal(10, 2)), 95, 0, N'https://distributionsp.ca/wp-content/uploads/2020/05/bloc-2-kg-1.jpg', N'16 oz', N'Low_Sodium,DASH Diet', N'Proteins,Healthy_Fats,Calcium', N'No', N'No')
INSERT [dbo].[Products] ([ProductID], [Category], [ProductName], [Description], [Price], [Stock], [VendorID], [ProductImage], [Packaging_Unit], [PartOfDiet], [RichInHealthBenefits], [IsVegan?], [IsGlutenFree?]) VALUES (2016, N'Dairy', N'Soft cheese', N'A creamy, smooth cheese with a mild, delicate flavor, ideal for spreading or fresh pairings.', CAST(8.75 AS Decimal(10, 2)), 144, 0, N'https://www.lionsdeal.com/blog/wp-content/uploads/2018/09/soft-cheese_resized.jpg', N'8 Oz', NULL, NULL, NULL, NULL)
INSERT [dbo].[Products] ([ProductID], [Category], [ProductName], [Description], [Price], [Stock], [VendorID], [ProductImage], [Packaging_Unit], [PartOfDiet], [RichInHealthBenefits], [IsVegan?], [IsGlutenFree?]) VALUES (2017, N'Dairy', N'Curd', N'Creamy, fresh organic curd, perfect for cooking or enjoying on its own.', CAST(4.25 AS Decimal(10, 2)), 196, 0, N'https://www.tastingtable.com/img/gallery/why-you-may-be-confused-ordering-curd-in-india/intro-1665080840.jpg', N'1 lb', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [PhoneNumber], [CreatedAt], [UserName], [UserType], [IsVendor]) VALUES (5, N'Vishwani Bodapatla', N'vishwanibodapatla@gmail.com', N'$2a$11$ztZNNpBco0nTCVJQzfjwruIRurXUPIsPe.CXEojYbU78zO6qam5ti', N'9706895964', CAST(N'2024-12-21T23:54:16.460' AS DateTime), N'Vishwa', N'Customer', N'No')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [PhoneNumber], [CreatedAt], [UserName], [UserType], [IsVendor]) VALUES (6, N'Vishwani Bodapatla', N'Vishwa@gmail.com', N'$2a$11$X8OVNfGq9DhC5dUXCRqBIezDVia7XxhTdxOXdNqjNH/csZ8ZXdc2C', N'9706895964', CAST(N'2024-12-21T23:58:49.957' AS DateTime), N'Vish', N'Customer', N'No')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [PhoneNumber], [CreatedAt], [UserName], [UserType], [IsVendor]) VALUES (7, N'Vishwa', N'Vishwani@gmail.com', N'$2a$11$8V8gGDvH8bUhezccvklil.uJIPSAqCA9LBHgsZ65.v0aJXhA.a.w6', N'9706895964', CAST(N'2024-12-22T00:02:57.947' AS DateTime), N'Vishwan', N'Customer', N'No')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[HealthInfo] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Login] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Predictions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  DEFAULT ('Open') FOR [TicketStatus]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
